src/main/resources/workflow/鹤岗自动化填写excel发送邮件.json
{
  "name": "自动生成图文并发送邮箱Public",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -704,
        -128
      ],
      "id": "f4adf104-bfd5-4822-b3df-656fa200cf10",
      "name": "When chat message received",
      "webhookId": "d1192f5a-5154-4702-bd00-9feb7b5bcaa0"
    },
    {
      "parameters": {
        "jsCode": "const today = new Date();\nconst sevenDaysAgo = new Date(today.setDate(today.getDate() - 0)).toISOString().split('T')[0];\nconst todayStr = new Date().toISOString().split('T')[0];\n\nreturn {\n  startDate: `${sevenDaysAgo} 00:00:00`,\n  endDate: `${todayStr} 23:59:59`,\n  pageNum: 1,\n  pageSize: 10000\n};\n\n// return {\n//   startDate: \"2025-12-25 00:00:00\",\n//   endDate: \"2025-12-25 23:59:59\",\n//   pageNum: 1,\n//   pageSize: 10000\n// };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        -128
      ],
      "id": "e70b4474-2579-41ee-aaf3-6eaa1ee2d197",
      "name": "Get param for today"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://47.102.206.40:8083/statis/employeeStatisN8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pageNum\": {{ $json.pageNum }},\n  \"pageSize\": {{ $json.pageSize }},\n  \"startDate\": \"{{ $json.startDate }}\",\n  \"endDate\": \"{{ $json.endDate }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -224
      ],
      "id": "eaf94984-9ea9-4abf-affd-ebc1e71cec9a",
      "name": "Get employee statistic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://47.102.206.40:8083/statis/generalStatisN8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"pageNum\": {{ $('Get param for today').item.json.pageNum }},\n  \"pageSize\": {{ $('Get param for today').item.json.pageSize }},\n  \"startDate\": \"{{ $('Get param for today').item.json.startDate }}\",\n  \"endDate\": \"{{ $('Get param for today').item.json.endDate }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -176,
        -32
      ],
      "id": "f81310a8-ea64-4da8-9ad5-259c741d5682",
      "name": "Get All statistic"
    },
    {
      "parameters": {
        "jsCode": "const employeeStatistic = $node[\"Get employee statistic\"].json.data?.list || [];\nconst allStatistic = $node[\"Get All statistic\"].json.data?.list || [];\n\nreturn {\n  employeeStatistic: employeeStatistic,\n  allStatistic: allStatistic\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -128
      ],
      "id": "36dba254-d35d-4651-abc1-99085d802373",
      "name": "Merge two request to one"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        304,
        96
      ],
      "id": "2618c31b-51c6-434e-a36a-59f32bcf03e2",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "bbxetBHK56SfIClw",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=请分析以下工厂数据并生成Chart.js配置：\n\n【员工绩效统计】\n{{ $json.employeeStatistic.toJsonString() }}\n\n【工厂总统计分析】\n{{ $json.allStatistic.toJsonString() }}\n\n### 输出格式强制要求（违反则解析失败，必须100%遵守）\n1. 最终输出**仅包含纯JSON字符串**，无任何多余内容（无```、无Markdown、无注释、无说明文字、无换行符、无前缀/后缀文字）；\n2. JSON字符串必须可直接通过JSON.parse()解析，满足：\n   - 所有字符串字段用双引号包裹（禁止单引号）；\n   - 所有数值字段为数字类型（如86.51，非\"86.51\"）；\n   - 空值统一用null表示（禁止用\"无\"/\"数据异常\"/0替代）；\n   - 禁止包含任何JavaScript函数（如function(){}）、注释、特殊符号；\n3. JSON结构必须包含4个顶级字段：factoryTotalData、employeeDetailData、analysisConclusion、chartConfigs，缺一不可。\n\n### 数据处理规则（严格执行）\n1. 数值转换：\n   - 出成率（workRate）：×100 保留2位小数，添加%符号（字符串类型，如\"86.51%\"）；\n   - 重量字段：÷1000 保留3位小数，单位转为kg（数字类型，如442.215）；\n   - 异常数据（负值/空值）：数值保留原始计算结果，analysisConclusion中标注“（数据异常）”，JSON字段不标注；\n2. 排序规则：\n   - 员工绩效明细按出成率降序排列；\n   - 图表labels按员工出成率降序排列。\n\n### 各字段具体要求\n#### 1. factoryTotalData（工厂总数据，JSON对象）\n必填字段（数字类型）：\n- totalRawWeight：总原料重量（kg，原数据weight÷1000，保留3位小数）；\n- totalQualifiedWeight：总合格重量（kg，原数据.qualifiedWeight÷1000，保留3位小数）；\n- totalQualifiedRatio：总合格占比（%，原数据.workRate×100，保留2位小数）；\n- totalLossWeight：总损耗重量（kg，原数据.needlessWeight÷1000，保留3位小数）；\n- totalUnqualifiedWeight：总不合格重量（kg，原数据.weedWeight÷1000，保留3位小数）。\n\n#### 2. employeeDetailData（员工明细，JSON数组）\n每个元素必填字段：\n- employeeName：员工姓名（字符串）；\n- workRate：出成率（字符串，如\"86.63%\"，原数据.workRate×100保留2位小数+%）；\n- rawWeight：原料重量（kg，数字，原数据.weight÷1000保留3位小数）；\n- qualifiedWeight：合格重量（kg，数字，原数据.qualifiedWeight÷1000保留3位小数）；\n- lossWeight：损耗重量（kg，数字，原数据.needlessWeight÷1000保留3位小数）；\n- unqualifiedWeight：不合格重量（kg，数字，原数据.weedWeight÷1000保留3位小数）。\n\n#### 3. analysisConclusion（分析结论，纯文本字符串）\n分三大板块，格式要求：\n- 板块1：工厂总数据（标题：**工厂总数据**，分点列出总原料/合格/损耗/不合格重量）；\n- 板块2：员工绩效明细（标题：**员工绩效明细**，按出成率降序列出每个员工指标）；\n- 板块3：核心分析结论&建议（标题：**核心分析结论&建议**，包含整体问题、员工差异、针对性建议）；\n- 仅保留中文+数字+标点，无Markdown格式（如**加粗**可保留，仅用于标题）。\n\n#### 4. chartConfigs（图表配置，JSON数组）\n包含3个图表，严格按以下规则生成：\n##### 图表1：员工出成率柱状图（type: bar）\n- data：\n  - labels：员工姓名（按出成率降序）；\n  - datasets：[{label:\"出成率 (%)\", data:[出成率数值], backgroundColor:[\"#f39c12\",\"#e74c3c\",\"#2ecc71\"]}]；\n- options：\n  - responsive: true；\n  - plugins：{\n      title: {display:true, text:\"员工出成率柱状图\", font:{size:16}},\n      datalabels: {anchor:\"end\", align:\"top\", color:\"#333\", font:{size:12}, formatter:\"{value}%\"}\n    }；\n  - scales：{y:{beginAtZero:true, max:100, title:{display:true, text:\"出成率 (%)\"}}, x:{title:{display:true, text:\"员工姓名\"}}}；\n- 禁止包含tooltip、legend自定义配置，保留默认样式。\n\n##### 图表2：工厂重量占比饼图（type: pie）\n- data：\n  - labels: [\"合格重量\",\"损耗重量（修正后）\",\"不合格重量\"]；\n  - datasets：[{data:[合格重量, 损耗重量绝对值, 不合格重量], backgroundColor:[\"#2ecc71\",\"#f1c40f\",\"#e74c3c\"]}]；\n- options：\n  - responsive: true；\n  - plugins：{\n      title: {display:true, text:\"工厂重量占比饼图 (单位: kg)\", font:{size:16}},\n      datalabels: {color:\"#fff\", font:{size:12}, formatter:\"{value}kg ({percentage}%)\"}\n    }；\n- 损耗重量取绝对值（修正负值），百分比保留2位小数。\n\n##### 图表3：员工重量分组柱状图（type: bar）\n- 仅展示无异常的员工；\n- data：\n  - labels：员工姓名（按出成率降序）；\n  - datasets：[\n      {label:\"合格重量 (kg)\", data:[合格重量数值], backgroundColor:\"#2ecc71\"},\n      {label:\"损耗重量 (kg)\", data:[损耗重量数值], backgroundColor:\"#f1c40f\"},\n      {label:\"不合格重量 (kg)\", data:[不合格重量数值], backgroundColor:\"#e74c3c\"}\n    ]；\n- options：\n  - responsive: true；\n  - plugins：{\n      title: {display:true, text:\"员工重量分组柱状图 (单位: kg)\", font:{size:16}},\n      datalabels: {anchor:\"end\", align:\"top\", color:\"#333\", font:{size:12}, formatter:\"{value}kg\"}\n    }；\n  - scales：{y:{beginAtZero:true, title:{display:true, text:\"重量 (kg)\"}}, x:{title:{display:true, text:\"员工姓名\"}}}；\n\n### 禁止项（违反则输出无效）\n1. 禁止输出任何除JSON外的内容（如“以下是分析结果：”“总结：”等）；\n2. 禁止包含代码块（```json/```）、换行符、制表符、多余空格；\n3. 禁止在datalabels.formatter中写函数（仅允许字符串格式，如\"{value}%\"）；\n4. 禁止修改字段名（如totalRawWeight不可改为total_raw_weight）；\n5. 禁止遗漏必填字段（factoryTotalData/employeeDetailData/analysisConclusion/chartConfigs）。\n\n### chartConfigs 额外强制规则\n1. 所有图表的`scales`字段必须放在`options`内部（即options.scales），禁止放在options外部；\n2. 图表配置的层级必须严格遵守：chart → type + data + options → options.plugins + options.scales；\n3. 禁止在chart根节点下直接出现scales字段，必须嵌套在options里；\n4. 所有JSON字段末尾禁止加多余逗号（如[1,2,] → [1,2]）。",
        "options": {
          "systemMessage": "你是工厂生产数据分析师 + Chart.js 可视化专家，需完成两大核心任务：\n1. 分析工厂员工绩效和总统计数据，输出专业分析报告；\n2. 基于分析数据生成可直接用于 QuickChart 的 Chart.js JSON 配置（3个图表：员工出成率柱状图、工厂重量占比饼图、员工重量分组柱状图）。\n\n### 核心规则\n#### 1. 数据处理规则\n- 出成率（workRate）：×100 保留2位小数，添加%符号；\n- 重量字段（weight/qualifiedWeight/needlessWeight/weedWeight）：÷1000 保留3位小数，单位转为kg；\n- 异常数据：损耗重量为负值时标注“数据异常”，仅保留出成率，重量字段剔除。\n\n#### 2. Chart.js 配置规则\n- 所有配置必须是 **合法JSON**（无注释、无多余逗号、字符串用双引号）；\n- 配置包含：type、data（labels + datasets）、options（responsive: true、plugins.title、scales轴标签）；\n- 配色规范：\n  ✅ 出成率柱状图：≥90%→#2ecc71，85%-90%→#f39c12，<85%→#e74c3c；\n  ✅ 饼图：合格重量→#2ecc71，损耗重量→#f1c40f，不合格重量→#e74c3c；\n- 图表标题/轴标签必须包含单位（%/kg），tooltip 悬浮显示精确值。\n\n#### 3. 输出格式（严格遵循，无多余文字）\n最终输出一个JSON对象，包含2个字段：\n{\n  \"analysisReport\": \"自然语言分析报告（分员工绩效、工厂总统计、结论建议）\",\n  \"chartConfigs\": [\n    {\"type\":\"bar\", \"data\":{...}, \"options\":{...}},  // 员工出成率柱状图\n    {\"type\":\"pie\", \"data\":{...}, \"options\":{...}},   // 工厂重量占比饼图\n    {\"type\":\"bar\", \"data\":{...}, \"options\":{...}}    // 员工重量分组柱状图\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        -128
      ],
      "id": "78fc2d54-7d74-489c-b68b-fe7cd95924d2",
      "name": "分析数据"
    },
    {
      "parameters": {
        "jsCode": "// 1. 精准获取AI输出（适配n8n节点输出结构）\nlet rawOutput = $input.first().json.output;\n// 兼容：如果是数组，取第一个item的output\nif (Array.isArray(rawOutput)) rawOutput = rawOutput[0]?.output || rawOutput[0];\n// 兜底：转成字符串，避免undefined\nrawOutput = (rawOutput || \"\").toString();\n\n// 2. 暴力清理所有非JSON字符（只保留{}[]:\"\",数字/字母）\nconst cleanJson = rawOutput\n  .replace(/```json/g, \"\") // 移除开头```json\n  .replace(/```/g, \"\") // 移除结尾```\n  .replace(/[\\n\\t\\r]/g, \"\") // 移除换行/制表符\n  .replace(/\\\\+/g, \"\\\\\") // 清理多余转义符\n  .trim();\n\n// 3. 双层解析（应对嵌套JSON字符串）\nlet aiOutput = {};\ntry {\n  // 第一层解析\n  aiOutput = JSON.parse(cleanJson);\n  // 如果解析后还是字符串，再解析一次\n  if (typeof aiOutput === \"string\") {\n    aiOutput = JSON.parse(aiOutput);\n  }\n} catch (e) {\n  console.error(\"解析失败原因：\", e.message);\n  console.error(\"清理后的JSON：\", cleanJson);\n  // 解析失败时手动构造空对象\n  aiOutput = {\n    factoryTotalData: {},\n    employeeDetailData: [],\n    analysisConclusion: \"\",\n    chartConfigs: []\n  };\n}\n\n// 4. 强制输出（确保字段存在）\nreturn {\n  factoryTotalData: aiOutput.factoryTotalData || {},\n  employeeDetailData: aiOutput.employeeDetailData || [],\n  analysisConclusion: aiOutput.analysisConclusion || \"\",\n  chartConfigs: aiOutput.chartConfigs || []\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -128
      ],
      "id": "d149ab2c-e1ee-481d-8d3b-d57cfb164932",
      "name": "Extract AI Output"
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取提取后的图表配置\nconst chartConfigs = $node[\"Extract AI Output\"].json.chartConfigs || [];\n\n// 2. 生成QuickChart URL（仅单次encodeURIComponent，移除JS函数）\nconst chartUrls = chartConfigs.map(config => {\n  // 移除所有tooltip的自定义函数\n  if (config.options?.plugins?.tooltip) {\n    delete config.options.plugins.tooltip;\n  }\n  // 单次转义（避免过度转义）\n  const configStr = JSON.stringify(config);\n  const encodedConfig = encodeURIComponent(configStr);\n  return `https://quickchart.io/chart?width=800&height=400&c=${encodedConfig}`;\n});\n\n// 3. 提取分析报告\nconst analysisReport = $node[\"Extract AI Output\"].json.analysisConclusion || \"\";\n\n// 4. 生成Markdown图表链接（纯链接，无多余转义）\nconst markdownCharts = chartUrls.map((url, index) => {\n  const titles = [\"员工出成率对比\", \"工厂总重量占比\", \"员工重量维度对比\"];\n  return `![${titles[index]}](${url})`;\n}).join(\"\\n\");\n\n// 输出结果\nreturn {\n  analysisReport: analysisReport,\n  chartUrls: chartUrls,\n  markdownCharts: markdownCharts\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        -128
      ],
      "id": "46b1ab55-3610-474c-a517-45022f064828",
      "name": "generate quickchart  url"
    },
    {
      "parameters": {
        "jsCode": "// 1. 从`generate quickchart url`节点获取数据\nconst factoryTotal = $node[\"Extract AI Output\"].json.factoryTotalData;\nconst employeeList = $node[\"Extract AI Output\"].json.employeeDetailData;\nconst analysis = $node[\"Extract AI Output\"].json.analysisConclusion;\n// 新增：获取图表链接\nconst chartUrls = $input.first().json.chartUrls || [];\nconst titles = [\"员工出成率对比\", \"工厂总重量占比\", \"员工重量维度对比\"];\n\n\n// 2. 构建图表HTML（替换未定义的htmlCharts）\nconst htmlCharts = chartUrls.map((url, index) => `\n  <div style=\"margin: 20px 0;\">\n    <h3 style=\"color: #2c3e50; font-size: 16px; margin-bottom: 10px;\">${titles[index]}</h3>\n    <img src=\"${url}\" style=\"width: 100%; max-width: 800px; border-radius: 8px; box-shadow: 0 2px 8px rgba(0,0,0,0.1);\" alt=\"${titles[index]}\">\n  </div>\n`).join('');\n\n\n// 3. 构建工厂总数据表格（保持不变）\nconst factoryTable = `\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <thead>\n      <tr style=\"background-color: #2c3e50; color: white;\">\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">工厂总数据指标</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">数值</</th>\n      </tr>\n    </thead>\n    <tbody>\n      <tr style=\"background-color: #f9f9f9;\">\n        <td style=\"border: 1px solid #ddd; padding: 12px;\">总原料重量</td>\n        <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">${factoryTotal.totalRawWeight} kg</td>\n      </tr>\n      <tr>\n        <td style=\"border: 1px solid #ddd; padding: 12px;\">总合格重量</td>\n        <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">${factoryTotal.totalQualifiedWeight} kg（占比${factoryTotal.totalQualifiedRatio}）</td>\n      </tr>\n      <tr style=\"background-color: #f9f9f9;\">\n        <td style=\"border: 1px solid #ddd; padding: 12px;\">总损耗重量</td>\n        <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right; color: #e74c3c;\">${factoryTotal.totalLossWeight} kg（数据异常）</td>\n      </tr>\n      <tr>\n        <td style=\"border: 1px solid #ddd; padding: 12px;\">总不合格重量</td>\n        <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right; color: #e74c3c;\">${factoryTotal.totalUnqualifiedWeight} kg</td>\n      </tr>\n    </tbody>\n  </table>\n`;\n\n\n// 4. 构建员工明细表格（修复多余的<<符号）\nconst employeeTable = `\n  <table style=\"width: 100%; border-collapse: collapse; margin: 20px 0;\">\n    <thead>\n      <tr style=\"background-color: #2c3e50; color: white;\">\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">员工姓名</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">出成率</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">原料重量（kg）</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">合格重量（kg）</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">损耗重量（kg）</</th>\n        <<th style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">不合格重量（kg）</</th>\n      </tr>\n    </thead>\n    <tbody>\n      ${employeeList.map((emp, index) => `\n        <tr style=\"background-color: ${index % 2 === 0 ? '#f9f9f9' : 'white'};\">\n          <td style=\"border: 1px solid #ddd; padding: 12px;\">${emp.employeeName}</td>\n          <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right; color: ${emp.workRate.replace('%', '') >= 90 ? '#2ecc71' : emp.workRate.replace('%', '') >= 85 ? '#f39c12' : '#e74c3c'};\">${emp.workRate}</td>\n          <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">${emp.rawWeight}</td>\n          <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right;\">${emp.qualifiedWeight}</td>\n          <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right; color: ${emp.lossWeight < 0 ? '#e74c3c' : '#333'};\">${emp.lossWeight}</td>\n          <td style=\"border: 1px solid #ddd; padding: 12px; text-align: right; color: ${emp.unqualifiedWeight > 0 ? '#e74c3c' : '#333'};\">${emp.unqualifiedWeight}</td>\n        </tr>\n      `).join('')}\n    </tbody>\n  </table>\n`;\n\n\n// 5. 完整HTML模板（保持不变）\nconst htmlTemplate = `\n<!DOCTYPE html>\n<html lang=\"zh-CN\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>工厂生产数据分析报告</title>\n  <style>\n    body { font-family: \"Microsoft YaHei\", Arial, sans-serif; line-height: 1.6; color: #333; max-width: 900px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; }\n    .header { background-color: #2c3e50; color: white; padding: 20px; border-radius: 8px 8px 0 0; text-align: center; }\n    .report-container { background-color: white; padding: 30px; border-radius: 0 0 8px 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.05); }\n    .section-title { color: #2c3e50; font-size: 18px; font-weight: bold; margin: 30px 0 15px 0; border-bottom: 2px solid #3498db; padding-bottom: 8px; }\n    .analysis-content { font-size: 15px; color: #555; line-height: 1.8; margin-bottom: 20px; }\n    .chart-section { margin: 40px 0; }\n    .footer { margin-top: 40px; padding-top: 20px; border-top: 1px solid #eee; color: #999; font-size: 12px; text-align: center; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1 style=\"margin: 0; font-size: 22px;\">工厂生产数据分析报告</h1>\n    <p style=\"margin: 10px 0 0 0; opacity: 0.8;\">生成时间：${new Date().toLocaleDateString('zh-CN')}</p>\n  </div>\n  <div class=\"report-container\">\n    <div class=\"section-title\">一、工厂总数据</div>\n    ${factoryTable}\n\n    <div class=\"section-title\">二、员工绩效明细</div>\n    ${employeeTable}\n\n    <div class=\"section-title\">三、核心分析结论&建议</div>\n    <div class=\"analysis-content\">${analysis}</div>\n\n    <div class=\"section-title\">四、数据可视化图表</div>\n    <div class=\"chart-section\">${htmlCharts}</div>\n\n    <div class=\"footer\">\n      本报告由系统自动生成，如有疑问请联系管理员 | 数据更新时间：${new Date().toLocaleDateString('zh-CN')}\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  htmlReport: htmlTemplate,\n  subject: `工厂生产数据分析报告_${new Date().toLocaleDateString()}`\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        -128
      ],
      "id": "59bde123-1113-4167-a0b2-eeef2e67ae81",
      "name": "covert html"
    },
    {
      "parameters": {
        "fromEmail": "2418167265@qq.com",
        "toEmail": "1207718011@qq.com",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.htmlReport }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1312,
        -128
      ],
      "id": "e6fccf15-7b6b-4203-9000-a65d7864dc2b",
      "name": "Send email",
      "webhookId": "a4253944-7744-4ef0-9b7b-30c5df3051bd",
      "notesInFlow": false,
      "credentials": {
        "smtp": {
          "id": "t7wEYcVWUPpkUgmw",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. 获取 Merge two request to one 节点的数据\nconst mergeData = $('Merge two request to one').first().json;\n// 员工明细数据（employeeStatistic）+ 总数据（allStatistic）\nconst employeeList = mergeData.employeeStatistic || [];\nconst totalList = mergeData.allStatistic || [];\n\n// 2. 工具函数：统一处理为字符串（空值返回空字符串，无\"数据异常\"）\nconst toStr = (value) => {\n  if (value === null || value === undefined) return \"\";\n  return String(value);\n};\n\n// 3. 工具函数：克转千克（保留3位小数）+ 转字符串\nconst gToKg = (gValue) => {\n  if (gValue === null || gValue === undefined) return \"\";\n  return (Number(gValue) / 1000).toFixed(3);\n};\n\n// 4. 获取当前日期的Unix时间戳（飞书日期字段要求）\nconst todayTimestamp = new Date().getTime();\n\n// 5. 格式化「每日总统计」数据（取totalList第一条作为总数据）\nconst totalData = totalList[0] || {};\nconst totalRecord = {\n  \"日期\": todayTimestamp,\n  \"总原料重量(kg)\": gToKg(totalData.weight), // 克转千克\n  \"总合格重量(kg)\": gToKg(totalData.qualifiedWeight),\n  \"总合格占比\": toStr((Number(totalData.workRate) * 100).toFixed(2)), // 小数转百分比（保留2位）\n  \"总损耗重量(kg)\": gToKg(totalData.needlessWeight), // needlessWeight对应损耗重量\n  \"总不合格重量(kg)\": gToKg(totalData.weedWeight) // weedWeight对应不合格重量\n};\n\n// 6. 格式化「员工数据」数据（遍历employeeList）\nconst employeeRecords = employeeList.map(emp => ({\n  \"日期\": todayTimestamp,\n  \"员工姓名\": toStr(emp.employeeName),\n  \"出成率\": toStr((Number(emp.workRate) * 100).toFixed(2)) + \"%\", // 小数转百分比（如0.886→88.60%）\n  \"原料重量(kg)\": gToKg(emp.weight),\n  \"合格重量(kg)\": gToKg(emp.qualifiedWeight),\n  \"损耗重量(kg)\": gToKg(emp.needlessWeight),\n  \"不合格重量(kg)\": gToKg(emp.weedWeight)\n}));\n\n// 7. 输出（供后续飞书插入节点使用）\nreturn {\n  \"total\": {\n    \"tableToken\": \"LXoAbyLh8am26MsQcw0cQ7Jcnm8\", // 你的多维表格Token\n    \"tableId\": \"tbl6bCPBZbzA1apd\", // 每日总统计tableID（替换为正确值）\n    \"record\": totalRecord\n  },\n  \"employee\": {\n    \"tableToken\": \"LXoAbyLh8am26MsQcw0cQ7Jcnm8\", // 你的多维表格Token\n    \"tableId\": \"tbl50VzWik62F4UX\", // 员工数据tableID（替换为正确值）\n    \"records\": employeeRecords\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        256
      ],
      "id": "f97e6716-4766-4d0a-b9b9-2261537671f8",
      "name": "transform to feishu format"
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:batchAdd",
        "app_toke": "={{ $json.total.tableToken }}",
        "table_id": "={{ $json.total.tableId }}",
        "body": "={\n  \"records\": [\n    {\n      \"fields\": {{ JSON.stringify($node[\"transform to feishu format\"].json.total.record) }}\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1168,
        256
      ],
      "id": "f96a6bf7-93c6-443f-b9b7-fa1b077b2786",
      "name": "insert to all statistic",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "X5zfe0rD4g1XN5AD",
          "name": "Feishu account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "bitable",
        "operation": "bitable:table:record:batchAdd",
        "app_toke": "={{ $('transform to feishu format').item.json.employee.tableToken }}",
        "table_id": "={{ $('transform to feishu format').item.json.employee.tableId }}",
        "body": "={\n  \"records\": {{ \n    JSON.stringify($node[\"transform to feishu format\"].json.employee.records.map(emp => ({\n      \"fields\": emp\n    }))) \n  }}\n}"
      },
      "type": "n8n-nodes-feishu-lite.feishuNode",
      "typeVersion": 1,
      "position": [
        1440,
        256
      ],
      "id": "4a05f78b-84af-4644-8c7e-2429969ec4f1",
      "name": "insert to employee statistic",
      "credentials": {
        "feishuCredentialsApi": {
          "id": "X5zfe0rD4g1XN5AD",
          "name": "Feishu account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Get param for today",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get param for today": {
      "main": [
        [
          {
            "node": "Get employee statistic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get employee statistic": {
      "main": [
        [
          {
            "node": "Get All statistic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All statistic": {
      "main": [
        [
          {
            "node": "Merge two request to one",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge two request to one": {
      "main": [
        [
          {
            "node": "分析数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "分析数据",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "分析数据": {
      "main": [
        [
          {
            "node": "Extract AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Output": {
      "main": [
        [
          {
            "node": "generate quickchart  url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate quickchart  url": {
      "main": [
        [
          {
            "node": "covert html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "covert html": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "transform to feishu format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform to feishu format": {
      "main": [
        [
          {
            "node": "insert to all statistic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert to all statistic": {
      "main": [
        [
          {
            "node": "insert to employee statistic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert to employee statistic": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d7311a0-8d68-4538-9335-ccf5f7397a04",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2273711b4aea9d7d7574d8030e43adacae126bfdd44e135f1c866833d5f0aba"
  },
  "id": "2SgVZEo5pLqu0EIf",
  "tags": []
}